<header id="header">
  <div class="header-content">
    <div class="logo-container">
      <img src="/img/logo.png" data-i18n="[alt]logo_alt" alt="UnivDown Logo" class="logo-img" /> <!-- Añadir alt text traducible -->
      <a href="/" class="project-name" data-i18n="site_name">UnivDown</a>
    </div>
    
    <button id="menu-toggle" data-i18n="[aria-label]menu_toggle_label" aria-label="Toggle Menu"><i class="ri-menu-line"></i></button>
    <nav id="navigation-menu">
      <button id="close-menu" data-i18n="[aria-label]menu_close_label" aria-label="Close Menu"><i class="ri-close-line"></i></button>
      <div class="navigation-groups">
        <div class="social-links">
          <a id="nav-youtube" href="/youtube" rel="noopener noreferrer" data-i18n="[aria-label]nav_youtube_label" aria-label="YouTube"><i class="ri-youtube-line"></i></a>
          <a id="nav-tiktok" href="/tiktok" rel="noopener noreferrer" data-i18n="[aria-label]nav_tiktok_label" aria-label="TikTok"><i class="ri-tiktok-line"></i></a>
          <a id="nav-instagram" href="/instagram" rel="noopener noreferrer" data-i18n="[aria-label]nav_instagram_label" aria-label="Instagram"><i class="ri-instagram-line"></i></a>
          <a id="nav-erome" href="/erome" rel="noopener noreferrer" data-i18n="[aria-label]nav_erome_label" aria-label="Erome"><i class="ri-folder-image-line"></i></a>
        </div>
        <div id="controls-container">
          <div id="theme-toggle-container">
            <button id="theme-toggle" data-i18n="[aria-label]theme_select_label" aria-label="Select Theme"><i class="ri-contrast-2-line"></i></button>
            <div id="theme-dropdown">
              <ul>
                <li data-theme="light" data-i18n="theme_light">Light</li>
                <li data-theme="dark" data-i18n="theme_dark">Dark</li>
                <li data-theme="system" data-i18n="theme_system">System</li>
              </ul>
            </div>
          </div>
          <!--<div id="language-select-container">
            <button id="language-button" data-i18n="[aria-label]language_select_label" aria-label="Select Language"><i class="ri-global-line"></i></button>
            <div id="language-dropdown">
              <ul>
                <li data-lang="en" data-i18n="lang_en">English</li>
                <li data-lang="es-LA" data-i18n="lang_es_la">Español (Latinoamérica)</li>
                <li data-lang="es-ES" data-i18n="lang_es_es">Español (España)</li>
                <li data-lang="ja" data-i18n="lang_ja">日本語</li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
    </nav>
  </div>
</header>