<!-- views/home.ejs -->
<!-- ========= CSS ========-->
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<!-- ========= Contenido de home ========-->
<div class="container animate-on-scroll">  <!-- Añade la clase animate-on-scroll aquí -->
    <h1 class="main-title animate-on-scroll">Download Videos, Audios and Images from Your Favorite Platforms</h1>
    <p class="description animate-on-scroll">
        UnivDown lets you download videos, audios and images from YouTube, TikTok, Instagram, and Erome quickly and easily.
        Choose your preferred quality and enjoy your content offline.
    </p>

    <div class="platform-grid ">
        <div class="platform-card youtube animate-on-scroll">
            <i class="ri-youtube-fill platform-icon"></i>
            <h2 class="platform-title">YouTube</h2>
            <p class="platform-description">Download videos and audios in multiple formats and qualities.</p>
        </div>
        <div class="platform-card tiktok animate-on-scroll">
            <i class="ri-tiktok-fill platform-icon"></i>
            <h2 class="platform-title">TikTok</h2>
             <p class="platform-description">Download your favorite TikTok videos without a watermark.</p>
        </div>
        <div class="platform-card instagram animate-on-scroll">
            <i class="ri-instagram-fill platform-icon"></i>
            <h2 class="platform-title">Instagram</h2>
            <p class="platform-description">Download videos and photos from Instagram easily.</p>
        </div>
        <div class="platform-card erome animate-on-scroll">
           <i class="ri-heart-fill platform-icon"></i>
            <h2 class="platform-title">Erome</h2>
            <p class="platform-description">Download videos and images of Erome.</p>
        </div>
    </div>
</div>