<!-- views/youtube.ejs -->
<!-- ========= CSS ========-->
<link rel="stylesheet" type="text/css" href="/css/youtube.css" />

<div class="container">
  <!-- <div id="input-container">
    <div class="input-wrapper">
      <input type="text" id="url-input-youtube" placeholder=" " required />
      <label for="url-input" data-i18n="url_label">YouTube URL</label>
    </div>
    <button class="GetVideos" id="GetVideosYoutube" data-i18n="GetVideos">
      Get audios/videos
    </button>
  </div> -->
  <h1 class="TitleYoutube">Download via Youtube</h1>
  <p class="DescriptionYoutube">In development...</p>
  <div id="error-container" class="error-message"></div>
  <div id="media-list"></div>
</div>